.skills {
	&__article {
		display: flex;
	}

	&__article--2-cols {
		display: flex;
		justify-content: space-between;
	}

	&__section {
		flex-basis: 50%;
		margin-top: 2rem;
			
		&:first-child {
			border-right: 2px double gray;
		}
	}

	&__h2 {
		text-align: center;
	}

	&__ul {
		padding-left: 8rem;
		list-style: square;
	}
}